@import "tailwindcss";

:root {
  --bg-primary: #0A0A10;
  --bg-secondary: #12121D;
  --primary: #FFD166;
  --secondary: #4F83CA;
  --tertiary: #FF6B35;
  --text-primary: #FFD166;
  --text-secondary: var(--secondary);
  --text-tertiary: var(--tertiary);
  --border: rgba(255, 255, 255, 0.171);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Interactive Buttons */
.btn {
  background: var(--bg-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--primary);
  color: var(--bg-primary);
  box-shadow: 0 0 20px var(--glow-primary);
  transform: translateY(-2px);
}